@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ECECED;
  --font-color: #1C1C22;
}

@font-face {
  font-family: 'Clash Grotesk Bold';
  src: url('../fonts/ClashGrotesk-Bold.otf') format('opentype');
  font-weight: bold;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--font-color);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #000;
}
.min-w-\[300px\] {
  min-width: 300px;
}

.min-w-\[200px\] {
  min-width: 200px;
}

@keyframes blink {
  0%, 100% { opacity: 1 }
  50% { opacity: 0 }
}

.blink-colon {
  animation: blink 1s infinite;
}

.react-type-animation {
  vertical-align: text-top;
}